{% extends "base.html" %}
{% block title %}Food{% endblock %}
{% block content %}
<table>
    <tr>
{% for header in headers %}
        <td>{{header}} </td>
{% endfor %}
    </tr>
{% if food %}
    <tr>
    {% for f in food %}
        <td>{{ f.log_date }}</td><td>{{ f.restaurant }}</td><td>{{ f.dishes }}</td><td>{{ f.mode }}</td><td>{{ f.contact }}</td><td><a href="#">DELETE</a></td></tr>
    {% endfor %}

{% else %}
    <tr><td colspan="6">No Logs are available.</td></tr>
{% endif %}
</table>

<a href="{% url 'dashboard:add' %}">ADD</a>
{% endblock %}