{% extends "base.html" %}
{% block title %}Food{% endblock %}
{% block content %}
<table class="results_table">
    <tr class="results_header">
{% for header in headers %}
        <th>{{header}}</th>
{% endfor %}
    </tr>
{% if food %}
    {% for f in food %}
       <tr class="results_row">
           <td>{{ f.log_date }}</td><td>{{ f.restaurant }}</td><td>{{ f.dishes }}</td><td>{{ f.mode }}</td><td>{{ f.contactless }}</td>
           <td><a href="{% url 'dashboard:delete_food' f.id %}">DELETE</a></td>
       </tr>
    {% endfor %}
{% else %}
    <tr><td colspan="6">No Food Logs are available.</td></tr>
{% endif %}
</table>

<div class="add_log_button"><a href="{% url 'dashboard:add_food' %}">ADD</a></div>
{% endblock %}