#main_nav {
    width: 100%;
    height: 50px;
    background-color: lightgray;
    margin-bottom: 10px;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
}

li {
    float: left;
    list-style-type: none;
}
#profile_icon {
    float:right;
}

#profile_icon img {

    height: 50px;
    width: 50px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: gray;
}

#risk_display {
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-top: 25px;
}
#risk_display p {
    text-align: center;
}

#main_content {
    margin: auto;
    width: 90%;
    padding: 25px;
}

.add_log_button {
    display: block;
    width: 150px;
    height: 40px;
    background: lightgray;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    line-height: 25px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #bbbbbb;
}

.add_log_button a {
    color: black;
    text-align: center;
}

.results_table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 350px;
    width: 100%;
}
.results_table tr th,
.results_table tr td {
    border-bottom: 1px solid #bbb;
    padding: 5px;
}
.results_table tr th:first-child,
.results_table tr td:first-child {
    border-left: 1px solid #bbb;
}
.results_table tr th {
    background: #eee;
    border-top: 1px solid #bbb;
    text-align: left;
}

/* top-left border-radius */
.results_table tr:first-child th:first-child {
    border-top-left-radius: 6px;
}

/* top-right border-radius */
.results_table tr:first-child th:last-child  {
    border-top-right-radius: 6px;
    border-right: 1px solid #bbb;

}

/* bottom-left border-radius */
.results_table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
.results_table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
    border-right: 1px solid #bbb;

}

.results_table td:last-child {
    border-right: 1px solid #bbb;
}

.add_log_header {
    color:black;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

form {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: lightgray;
    border-radius: 6px;
    padding-left: 20px;
    padding-top: 20px;
}

.save_button {
    display: block;
    width: 150px;
    height: 40px;
    background: lightgreen;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    line-height: 25px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #bbbbbb;
    margin-bottom: 20px;
}

.risk_display {
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-top: 25px;
    font-size: 16pt;
}

.risk_display p {
    text-align: center;
}

#low {
    border: 5px solid green;
}

#medium {
    border: 5px solid yellow;
}

#high {
    border: 5px solid orange;
    font-weight: bold;
}

#very_high {
    border: 5px solid red;
    font-weight: bold;
    color: red;
    font-size: 20pt;
}

.warning_message {
    font-style: italic;
    color: black;
}