<div id="main_nav">
    <nav>
        <l>
            <li class="main_nav_option"><a href="{% url 'dashboard:index' %}">DASHBOARD</a></li>
            <li class="main_nav_option"><a href="{% url 'dashboard:view_symptom' %}">SYMPTOMS</a></li>
            <li class="main_nav_option"><a href="{% url 'dashboard:medicine_view' %}">MEDICINES</a></li>
            <li class="main_nav_option"><a href="{% url 'dashboard:doctor_view' %}">DOCTOR</a></li>
            <li class="main_nav_option"><a href="{% url 'dashboard:view_trip' %}">TRIPS</a></li>
            <li class="main_nav_option"><a href="{% url 'dashboard:food_view' %}">FOOD</a></li>
            <li class="main_nav_option"><a href="{% url 'dashboard:friend_view' %}">FRIENDS</a></li>
            <li class="main_nav_option"><a href="#">SYNC</a></li>
            <a id="profile_icon" href="#"><img src="https://cdn2.iconfinder.com/data/icons/business-part-2/64/_Personal_Account_Button-512.png"></a>
        </l>
    </nav>
</div>