{% extends "base.html" %}
{% block content %}
<table class="results_table">
    <tr class="results_header">
{% for header in headers %}
        <th>{{header}} </th>
{% endfor %}
    </tr>
{% if symptoms %}

    {% for s in symptoms %}
        <tr class="results_row">
        <td>{{ s.date }}</td><td>{{ s.type }}</td><td>{{ s.severity }}</td><td>{{ s.notes }}</td><td><a href="{% url 'dashboard:delete_symptom' s.id %}">DELETE</a></td>
        </tr>
    {% endfor %}

{% else %}
    <tr><td colspan="5">No Logs are available.</td></tr>
{% endif %}
</table>

<div class="add_log_button"><a href="{% url 'dashboard:add_symptom' %}">ADD</a></div>
{% endblock %}
