{% extends "base.html" %}
{% block title %}Sync{% endblock %}
{% block content %}

<table class="results_table">
    <tr class="results_header">
        {% for header in deviceHeaders %}
            <th>{{header}}</th>
        {% endfor %}
    </tr>
    {% if data %}
        {% for d in device %}
            <tr class="results_row">
                <!--Note get_device_display is an example of the built in Django function:-->
                <!--get_FOO_display() when test fields are predefined for a model.-->
                <td>{{ d.get_device_display }}</td><td>{{ d.date_added }}</td>
                <td><a href="{% url 'dashboard:delete_device' d.id %}">DELETE</a></td>
            </tr>
        {% endfor %}
    {% else %}
        <tr><td colspan="6">No devices have been synced.</td></tr>
    {% endif %}
</table>

<br/><!--Add space between tables -->

<table class="results_table">
    <tr class="results_header">
        {% for header in healthHeaders %}
            <th>{{header}}</th>
        {% endfor %}
    </tr>
    {% if data %}
        {% for hd in data %}
            <tr class="results_row">
                <!--Note get_device_display is an example of the built in Django function:-->
                <!--get_FOO_display() when test fields are predefined for a model.-->
                <td>{{ hd.log_date }}</td><td>{{ hd.device }}</td>
                <td>{{ hd.activity }}</td><td>{{ hd.step_count }}</td><td></td>
            </tr>
        {% endfor %}
    {% else %}
        <tr><td colspan="6">No health data.</td></tr>
    {% endif %}
</table>

<a class="add_log_button" href="{% url 'dashboard:add_device' %}">ADD DEVICE</a>
{% endblock %}